// BASE
* { 
  box-sizing: border-box; 
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

a {
  color: #000;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  margin: 0;
}

img {
  width: 100%;
}

ul {
  margin: 0;
  list-style-type: none;
  padding: 0;
}

h1,h2,h3,h4,h5 {
  margin: 0;
}


