
.shu-item-picture {
  max-height: 250px;
  height: 250px;
  background: #CCC;
  overflow: hidden;
  border-radius: 5px;
}

.shu-item-meta-name {
  font-weight: bold;
  font-size: 1.2em;
}

.shu-item-meta-price {
  font-weight: bold;
  font-size: 1.3em;
  color: #BAD2AD;
}

.shu-item {
  padding: 15px;
  width: 100%;
}

:host {
  min-width: 250px;
  width: 25%;
}

@media (max-width: 1120px) {
  :host {
    width: 50%;
  }    
}

@media (max-width: 660px) {
  :host {
    width: 100%;
  }      
}
