@import '../styles/base';
@import '../styles/layout';
@import '../styles/list';

.shu-hero {
  height: 680px;
  background-color: #2e2e2e;
  background-image: url(/assets/shu-hero.jpg);
  background-size: cover;
}

.shu-hgroup {
  display: flex;
  flex-direction: column;
  margin: .2em 1em;
  justify-content: center;
  height: 100%;
}

.shu-hgroup h2 {
  margin: .2em 1em;
  color: #fff;
  font-size: 4em;
  font-weight: bolder;
}

@media (max-width: 820px) {
  .shu-hero {
    height: 380px;
  }

  .shu-hgroup h2 {
    font-size: 3em;
  }
}