<div class="shu-container">
  <h2 class="shu-grid-header">
    <a href="#">New</a>
  </h2>
</div>

<div class="shu-container">
  <section class="shu-gridwrap">

    <div class="shu-item">
      <div class="shu-item-picture">
        <a href="#">
            <img src="/assets/shu-0.jpg">
          </a>
      </div>
      <div class="shu-item-meta">
        <div class="shu-item-meta-name">
          <a href="#">Super Duper Really Cool Blue Shoes</a>
        </div>
        <div class="shu-item-meta-price">
          $84
        </div>
      </div>
    </div>

    <div class="shu-item">
      <div class="shu-item-picture">
        <a href="#">
            <img src="/assets/shu-1.jpg">
          </a>
      </div>
      <div class="shu-item-meta">
        <div class="shu-item-meta-name">
          <a href="#">Super Duper Really Cool Blue Shoes</a>
        </div>
        <div class="shu-item-meta-price">
          $84
        </div>
      </div>
    </div>

    <div class="shu-item">
      <div class="shu-item-picture">
        <a href="#">
            <img src="/assets/shu-2.jpg">
          </a>
      </div>
      <div class="shu-item-meta">
        <div class="shu-item-meta-name">
          <a href="#">Super Duper Really Cool Blue Shoes</a>
        </div>
        <div class="shu-item-meta-price">
          $84
        </div>
      </div>
    </div>

    <div class="shu-item">
      <div class="shu-item-picture">
        <a href="#">
            <img src="/assets/shu-3.jpg">
          </a>
      </div>
      <div class="shu-item-meta">
        <div class="shu-item-meta-name">
          <a href="#">Super Duper Really Cool Blue Shoes</a>
        </div>
        <div class="shu-item-meta-price">
          $84
        </div>
      </div>
    </div>

  </section>
</div>