.shu-promo {
  border-radius: 5px;
  height: 180px;
  width: 560px;
}

.shu-promo a {
  font-size: 2em;
}

.shu-container .shu-promo:first-child {
  margin-right: 30px;
}

.shu-promo-top {
  background-image: url(/assets/shu-promo-shipping.jpg);
  background-size: cover;
  width: 100%;
}

.shu-promo-brand {
  background-image: url(/assets/shu-promo-brand.jpg);
  background-size: cover;
  width: 100%;
}

.shu-promo-bottom {
  background-image: url(/assets/shu-promo-bottom.jpg);
  background-size: cover;
  width: 100%;
}

.shu-promo-bottom a {
  font-size: 2.5em;
}

.shu-promo a {
  color: white;
  height: 100%;
  font-weight: bolder;
  display: flex;
}

@media (max-width: 820px) {
  .shu-promo a {
    font-size: 1.3em;
  }

  .shu-promo-bottom a {
    font-size: 2em;
  }  
}

@media (max-width: 660px) {
  .shu-container .shu-promo:first-child {
    margin: 0 0 15px 0;
  }   
}
